<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Dartmouth Mathematics :: Legal Landscapes</title>
    <link href="math.css" rel="stylesheet" type="text/css">
	<style>
		body {
		font-family: Arial, Helvetica, sans-serif;
		color: #000000;
		background-color: #ffffff;
		margin: 50px auto;
		max-width: 1000px;
		}

		img {
			border: 0;
		}

		a {text-decoration:none;}

		a:link {
		}

		a:visited {
		}

		a:hover {
			color:#336666;
		}

		table, td, th {
			border-collapse: collapse;
			border: 1px solid #000000;
			padding: 5px;
		}
	</style>
</head>
<body>
<div style="text-align:center;">
<h1>Legal Landscapes</h1>
<p>
<a href="/search/">Pilot Version</a>
</p>
</div>
</body>
</html>
